# Created by https://www.toptal.com/developers/gitignore/api/windows
# Edit at https://www.toptal.com/developers/gitignore?templates=windows

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/windows

# MS officce temporary files
~$*.*

# Various Altium files
*.PrjPCBStructure
*.SchDocPreview
*.PcbDocPreview
__Previews/
*.PrjPcbStructure
*.Dat
*.REP 
*.TLT
*.LOG
*.log
*.htm
*.$$$

# IAR
*.sim
*.xcl
*.pbi
*.pbi.xcl
*.pbi.dep
*.pbd
*.pbd.tmp
*.pbd.linf
*.pbd.browse
*.pbw
*.out
*.map
*.o
*.ninja
.ninja_log
.ninja_deps

# rusikok
*.img
*.img.gz
*.crt
*.pem
*.key
4_board/