# конфиг для сервиса автоматически запускающего jLink remote server
# (c) 2022-02-02 RusikOk

[Unit]
# описание нашего сервиса
Description=SEGGER J-Link Remote Server by RusikOk
# будем запускать юнит после какого-либо сервиса или группы сервисов
Wants=network-online.target
After=network-online.target

[Service]
# Пользователь и группа, с правами которых будет запускаться сервис
User=pi
Group=pi
# тип сервиса
Type=simple
# рабочий каталог, он делается текущим перед запуском стартап команд
#WorkingDirectory=/home/pi/JLink_Linux_V696_arm
# команда на запуск сервиса
ExecStart=/home/pi/JLink_Linux_V696_arm/JLinkRemoteServerCLExe -Port 19020
# В каких случаях сервис будет автоматически перезагружаться. on-failure — в случае выхода с ненулевым кодом возврата.
Restart=on-failure
# Таймаут перед загрузкой сервиса, после падения.
RestartSec=5
# Capablities для сервиса. В данном случае - разрешение сервису биндиться на привилегированные порты (< 1000)
#AmbientCapablities=CAP_NET_BIND_SERVICE
# включаем режим отладки
Environment=SYSTEMD_LOG_LEVEL=debug

[Install]
WantedBy=multiuser.target
